// This is where all of the colours that are used throughout the website are defined

$stings_black: rgba(0, 0, 0, 1);
$stings_gold: rgba(241, 147, 6, 0.986);
$stings_dark_gray: rgba(91, 91, 91, 0.788);
$stings_near_white: rgba(223, 211, 211, 0.925);
$stings_light_black: rgba(14, 13, 13, 0.86);
$stings_light_gold: rgba(245, 215, 44, 0.87);
$stings_yellow: rgba(255, 218, 45, 1);
$stings_light_gray: rgba(182, 182, 182, 0.753);
$stings_red: rgba(256, 0, 0, 1);